
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html:after, html:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html:after, html:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: white;
    /* position: static; */
    /* margin-top: 186px; */
    margin-bottom: 534px;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
body {
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    /* display: block; */
    margin: 8px;
}
img{
    vertical-align: middle;
    border: 0;
}
.page-controller-homepage{
    background-color: white;
    color: white;
    position: fixed;
    width: 100%;
    /* top: 50%; */
    left: 50%;
    z-index: -1;
    webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.wrapper{
    width: 100%;
}
header {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
header .header-top {
    background-color: black;
    height: 50px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
header .header-top .left {
    display: inline-block;
}
header .header-top .left .icon.icon {
    margin-right: 20px;
}

header .header-top .left .icon {
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 50px;
    vertical-align: top;
    padding-top: 0;
    padding-bottom: 0;
}
.icon {
    padding: 5px 0 5px 25px;
    position: relative;
    color: white;
}
a {
    text-decoration: none;
}
body * {
    font-family: inherit;
}

header .header-top .left .icon.icon.icon-time .opening-hours-today {
    display: inline-block;
}
header .header-top .left .icon.icon.icon-time .opening-hours-today .label {
    border-radius: 0;
    color: white;
    font-size: 12px;
    font-weight: 600;
    line-height: inherit;
    padding: 0;
    text-align: left;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.icon-phone:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 22px;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    content: '\f095';
}
.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 22px;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    color: #005f4e;
    font-size: 16px;
    left: 0;
    position: absolute;
    line-height: 24px;
}